* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10vh;
    position: relative;
    top: 0;
}

nav a {
    padding: 25px 0; 
    color: black;
    text-decoration: none;
    font: 1.4em sans-serif;
}

.main {
    width: 100%;
    padding: 25px 10%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    gap: 10px;
}